recursive-include demos *.py *.yaml *.html *.css *.js *.xml *.sql README
recursive-include docs *
prune docs/build
include censiotornado/speedups.c
include censiotornado/test/README
include censiotornado/test/csv_translations/fr_FR.csv
include censiotornado/test/gettext_translations/fr_FR/LC_MESSAGES/tornado_test.mo
include censiotornado/test/gettext_translations/fr_FR/LC_MESSAGES/tornado_test.po
include censiotornado/test/options_test.cfg
include censiotornado/test/static/robots.txt
include censiotornado/test/static/sample.xml
include censiotornado/test/static/sample.xml.gz
include censiotornado/test/static/sample.xml.bz2
include censiotornado/test/static/dir/index.html
include censiotornado/test/static_foo.txt
include censiotornado/test/templates/utf8.html
include censiotornado/test/test.crt
include censiotornado/test/test.key
include README.rst
include runtests.sh
